/***** BASE STYLES *****/
.body-theme {
    background: #d9d5d4;
    color: #0f1015;
    font-family: 'Source Sans Pro', sans-serif;
}

/***** HEADER *****/

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

header h1 {
    color: #0f1015;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}

nav li a {
    color: #0f1015;
    font-size: 20px;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.header-divider {
  width: 100%;
  height: 2px;
  margin: 0;
  background: #0f1015;
}

/***** ABOUT *****/

#about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#about-wrapper h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-top: 20px;
}

#about-wrapper p {
    color: #0f1015;
    font-size: 21px;
    padding: 0 10px 0 0;
}

#about-wrapper img#argentina-cris {
    width: 500px;
    height: auto;
    border: 12px solid white;
    margin-top: 20px;
}

#picture-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
}

#about-box {
    margin: 0 20px;
}

/* I decided not to put in a caption. */

.picture-caption {
    width: 95%;
    background-color: skyblue;
}

.picture-caption p {
    margin: 0 0 15px 0;
    font-size: 10px;
    font-style: italic;
    text-align: left;
    background-color: chartreuse;
}

/* I've taken out the quote for now. :( */

.quote-container {
    width: 95%;
    font-size: 18px;
    font-style: italic;
}

.quote-container h2 {
    text-align: left;
}

.quote-container h4 {
    margin: 0;
    font-size: 18px;
    font-style: unset;
    font-weight: normal;
}

.quote-container span {
    font-style: italic;
}

.content-body { /* This centers the content block */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-block {    /* This has a header and the block that has the columns in it. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.content-block h2 {
    text-align: left;
}

.content-block-columns {    /* This is the block for the columns - they are row-wise. */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.pic-plus-info {    /* This is a single column. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(33% - 30px);
    margin: 0 15px;
}

.pic-plus-info-img {
    height: auto;
    border: 10px solid white;
    margin: 0 21px 21px 21px;
    width: calc(100% - 20px);
}

.pic-plus-info-img-js {
    height: auto;
    border: 10px solid slategray;
    margin: 0 21px 21px 21px;
    width: calc(100% - 20px);
}

.pic-plus-info-img-static {
    height: auto;
    border: 10px solid tan;
    margin: 0 21px 21px 21px;
    width: calc(100% - 20px);
}

/***** CONTACT *****/
.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat' sans-serif;
}

.contact-block {
    width: 95%;
    margin: 0 0 25px 0;
}

.contact-block h2 {
    font-size: 24px;
    margin: 0;
}

.contact-block a {
    text-decoration: none;
}