/***** BASE STYLES *****/
.body-theme {
    background: #d9d5d4;
    color: #0f1015;
    font-family: 'Source Sans Pro', sans-serif;
}

/***** HEADER *****/

/* header wrapper is just to center 90% header block. */
/* It also has the divider in it. */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Header block has name and nav bar. This block is responsive. */

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    /* background-color: lavenderblush; */
}

header h1 {
    color: #0f1015;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    /* background-color: orange; */
}

nav {
    display: flex;
    flex-direction: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: lime; */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  /* background-color: orange; */
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
    margin: 0;
    /* background-color: gold; */
}

nav p a {
    color: mediumslateblue
}

nav li a {
    /* color: #0f1015; */
    font-size: 20px;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.header-divider {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background: #0f1015;
}

/***** ABOUT *****/

#about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#about-wrapper h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#about-wrapper p {
    color: #0f1015;
    font-size: 18px;
    /* padding: 0 10px 0 0; */
}

#picture-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background: orange;
    padding: 0;
}
/*
#picture-box {
    background: lime;
    width: 100%;
    border: 10px solid white;
}
*/

/* #picture-box img#argentina-cris { */
#picture-about img#argentina-cris {
    /* width: 100%; */
    width: 100%;
    height: fit-content;
    border: 12px solid white;
}

#about-box {
    /* margin-top: 10px; */
    background: pink;
}

/* I decided not to put in a caption. */

.picture-caption {
    width: 95%;
    background-color: skyblue;
}

.picture-caption p {
    margin: 0 0 15px 0;
    font-size: 10px;
    font-style: italic;
    text-align: left;
    background-color: chartreuse;
}

/* I've taken out the quote for now. :( */

.quote-container {
    width: 95%;
    font-size: 18px;
    font-style: italic;
}

.quote-container h2 {
    text-align: left;
}

.quote-container h4 {
    margin: 0;
    font-size: 18px;
    font-style: unset;
    font-weight: normal;
}

.quote-container span {
    font-style: italic;
}

.content-body { /* This centers the content block */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-block {    /* This has a header and the block that has the columns in it. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.content-block h2 {
    text-align: left;
}

.content-block-columns {    /* This is the block for the columns - they are in a column for mobile. */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.pic-plus-info {    /* This is a single column. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15px;
}

.pic-plus-info-img {
    height: auto;
    border: 10px solid white;
    margin: 0 21px 21px 21px;
    width: calc(100% - 20px);
}

.pic-plus-info-img-js {
    height: auto;
    border: 10px solid slategray;
    margin: 0 21px 21px 21px;
    width: calc(100% - 20px);
}

.pic-plus-info-img-static {
    height: auto;
    border: 10px solid tan;
    margin: 0 21px 21px 21px;
    width: calc(100% - 20px);
}

/***** CONTACT *****/
.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat' sans-serif;
}

.contact-block {
    width: 95%;
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact-block h2 {
    font-size: 24px;
    margin: 0;
}

.contact-block p, a {
    text-decoration: none;
    margin-left: 15px;
}

/* Table styles */

@media only screen and (min-width: 520px) {
/* Nav buttons should be in a row, under the name. */
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .content-block-columns {    /* This is the block for the columns - they are row-wise. */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .pic-plus-info {    /* This is a single column. */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: calc(33% - 30px);
        margin: 0 15px;
    }
}
/* Desktop styles */

@media only screen and (min-width: 820px) {

.header-block {
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

header h1 {
    color: #0f1015;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

nav li a {
    color: #0f1015;
    font-size: 20px;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.header-divider {
  width: 100%;
  height: 2px;
  margin: 0;
  background: #0f1015;
}
/***** ABOUT *****/

#about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#about-wrapper h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-top: 20px;
}

#about-wrapper p {
    color: #0f1015;
    font-size: 21px;
    padding: 0 10px 0 0;
}

#about-wrapper img#argentina-cris {
    max-width: 500px;
    height: auto;
    border: 12px solid white;
    margin-top: 20px;
}

#picture-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
}

#about-box {
    margin: 0 20px;
}

}

/* Following is example from Rogue Pickings
    header {
        justify-content: space-between;
    }

    header h1 {
        width: 30%;
        padding: 0;
        border-bottom: none;
        text-align: left;
    }

    header nav {
        width: 40%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }
*/
